[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
lxml = "*"
matplotlib = "*"
pandas = "==2.2.0"
selenium = "==4.16.0"

[dev-packages]
jupyterlab = "*"
pre-commit = "*"

[requires]
